<div class="dialog">

    <div class="header">
        <h3>Modifier l'actualité</h3>
        <fa-icon [icon]="faXmark" (click)="service.actualiteModifierShowModal=false"></fa-icon>
    </div>
  <hr>
  <div>
    <form [formGroup]="actualiteForm" (ngSubmit)="modifierActualite()">
  
      <label for="titre">Titre</label>
      <input type="text" formControlName="titre"><br>
      
      <label for="desc">Description</label>
      <textarea formControlName="description"></textarea><br>
    
      <label for="image">Image</label>
      <input type="file" formControlName="image"><br>
      <img *ngIf="actualite.image" [src]="actualite.image" alt="Image actuelle">
  
    
   
    
      <label for="date_publication">Date de Publication</label>
      <input type="date" formControlName="date_publication"><br>
    
      <button type="submit" class="btn btn-dark" [ngStyle]="{'width':'300px'}">Modifier</button>
    </form>
    
  </div>
  </div>