.dialog{
    max-height: 80vh; 
    overflow-y: auto; 
    width: 500px;
    background-color: lightgrey;
    box-shadow: 10px 5px 10px rgba(131, 7, 7, 0.538);
    border-radius: 5px;
    padding: 10px;
    position: relative;
    top:50px
}
h3{
    color: rgba(131, 7, 7, 0.966);
    text-align:center ;
    font: bolder;
    
}

:host{
    display: block;
    position: fixed;
    left:0px;
    right: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
img{
    display: flex;
    width: 50%;
    height: 50%;
}

   
.header{
    display: flex;
    justify-content: space-between;
}

label{
    color: rgb(6, 70, 32);
    font-weight: bold;
    width: 100px;
    display: inline-block;
    
}
input, textarea{
    background: none;
    border: 2px solid rgb(6, 70, 32);
    padding: 5px;
    border-radius: 5px;
    width: 300px;
    padding:5px;
    margin: 5px
}
textarea{height: 100px;}