body {
  background-color: #f6f8fa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 2%;
}

.form-container {
  width: 600px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 65px;
  background-color: white;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #000000;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

label {
  color: #586069;
}

.checkbox {
  width: auto;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #d1d5da;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.594);
}
.btn_login {
  background-color: rgb(133 7 7);
  border: none;
  color: white;
  padding: 10px 15px 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  margin-top: 2%;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.2s;
  font-weight: bold;
}

.btn_login:hover {
  background-color: #ffffff;
  color: #009218;
}

.btn_login[disabled] {
  cursor: not-allowed;
  opacity: 0.7; /* Optionnel : vous pouvez ajuster l'opacité selon vos préférences */
}

hr {
  border: none;
  height: 1.5px;
  background-color: black;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 4%;
}

.error-notification {
  padding: 10px;
  margin: 10px 0 10px 0;
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 8px;
  text-align: center;
}

.success-message {
  padding: 5px;
  margin: 15px 0 15px 0;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 8px;
  text-align: center;
}

resend {
  display: flex;
  justify-content: center;
}
