<div class="container">
  <form [formGroup]="aFormGroup" class="form-container" (ngSubmit)="onSubmit()">
    <h2>Réinitialiser le mot de passe</h2>
    <hr />
    <div>
      <label for="email">Saisir votre adresse email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="adresse@email.com"
        required
      />
    </div>
    <div *ngIf="showErrorNotification" class="error-notification">
      L'email saisi est introuvable!
    </div>
    <div *ngIf="showSuccessNotification" class="success-notification">
      Veuillez cliquez sur le lien envoyé par mail!
    </div>
    <div *ngIf="invalidEmail" class="error-notification">
      L'email saisi est invalide!
    </div>
    <button type="submit" class="btn_login" [disabled]="isButtonDisabled">
      Vérifier l'email
    </button>
    <div class="resend" *ngIf="isButtonDisabled">
      Vous pouvez renvoyer le lien dans {{ resendCountdown }}
    </div>
  </form>
</div>
