<!DOCTYPE html>
<html lang="en">
<head>
  <title>Footer Design</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>company</h4>
  	 			<ul>
  	 				<li><a href="#">about us</a></li>
  	 				<li><a href="#">our services</a></li>
  	 				<li><a href="#">privacy policy</a></li>
  	 				<li><a href="#">affiliate program</a></li>
  	 			</ul>
  	 		</div>
  	 		
  	 		<div class="footer-col">
  	 			<h4>Numéros Utiles</h4>
  	 			<ul>
  	 				<li><a href="#">UIB Contact : 81 10 25 25</a></li>
  	 				<li><a href="#"> UIB Standard : 81 10 20 20</a></li>
  	 				<li><a href="#">UIB Phone : 88 40 12 12</a></li>
  	 				
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Contactez-nous</h4>
  	 			<div class="social-links">
  	 				
  	 				<a href="#" target="_blank"><fa-icon [icon]="faPhone"></fa-icon></a>
                       <a href="mailto:uibcontact@uib.com.tn" target="_blank"><fa-icon [icon]="faEnvelope"></fa-icon></a>
  	 				
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

</body>
</html>
