.collecte-details {
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden; /* Prevent content overflow */
    margin: 20px auto; /* Center the container horizontally */
    width: 60%; /* Set a reduced width for the container */
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    /* background-color: rgba(0, 0, 0, 0.1); */
}

.left-content {
    flex: 1; /* Make both sections take up equal space */
    padding: 20px;
    border-right: 1px solid black; /* Add border between sections */
    overflow: hidden; /* Prevent content overflow */
    display: flex; /* Add display flex to center the content */
    flex-direction: column; /* Set flex direction to column */
    align-items: center; /* Center items horizontally */
    line-height: 1.5; 
}

/* Style for the right section */
.right-content {
    flex: 1; /* Make both sections take up equal space */
    padding: 20px;
    overflow: hidden; /* Prevent content overflow */
}

/* Style for the image container */
.collecte-photo {
    margin-bottom: 20px;
    width: 150px; /* Set a fixed width for the logo */
}

/* Style for the image */
.collecte-photo img {
    max-width: 100%;
    max-height: 100%; /* Maintain aspect ratio */
    border-radius: 10px;
}

/* Style for the association info */
.collecte-info {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

/* Style for the association name */
.collecte-info .collecte-name {
    margin-bottom: 5px; /* Adjust margin as needed */
    text-align: center; /* Center the text horizontally */
    border-bottom: 1px solid black; /* Add a small line below the name */
    padding-bottom: 5px; /* Add space below the name */
}

/* Style for the association description */
.collecte-info .collecte-description {
    margin-top: 5px; /* Adjust margin as needed */
    text-align: center; /* Center the text horizontally */
}






/* Style for the donate section */
.donate h3{
    margin: 0;
    border-bottom: 1px solid black;
    margin-bottom: 15px; /* Adjust margin as needed */
    font-size: 24px; /* Increase font size */
}

.donate {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}

/* Style for the donate buttons */
.donate button {
    margin: 10px 5px; /* Add margin between buttons and between input and button */
    padding: 8px 16px; /* Adjust button padding */
    border: none;
    border-radius: 5px;
    background-color: #cc0000; /* Set red background color */
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Add smooth transition on hover */
}

/* Change background color of donate buttons on hover */
.donate button:hover {
    background-color: #ff000077; 
}

/* Style for the range input */
.donate input[type="range"] {
    width: 100%;
    margin-bottom: 10px;
}

/* Style for the label of the range input */
.donate label {
    margin-bottom: 10px; /* Add space below the label */
    font-weight: bold; /* Make the label bold */
    font-size: 18px; /* Increase font size */
}

/* Style for the line between contact and donate parts */
.right-content .donate {
    border-top: 1px solid black; /* Add border between sections */
    padding-top: 8px; /* Add space between the sections */
}
.donate ngx-slider{
    color:red;
}
.validerDon{
    padding: 1em 2.1em 1.1em;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    color: #fbdedb;
    display: inline-block;
    background: #e74c3c;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-weight: 800;
    font-size: .70em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
    border-radius: 50em;
    background-color: #cc0000;
}
.validerDon:hover, .validerDon:focus{
    opacity: 0.8;
}
.validerDon:active{
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
}

.dates, .amount {
    width: auto; /* Adjust based on your design */
  }

.progress-title{
    display: flex;
    justify-content: space-between;
}

  .progress-bar {
    border-radius: 5px;
    height: 15px;
    margin: 10px 0;
    border: solid 2px black;

  }
  
  .progress {
    background-color: #818181c2;
    border-radius: 5px;
    height: 100%;
  }

  a{
    cursor: pointer;
}