<body>
  <div class="category-icons">
    <div
      class="category-icon"
      [class.selected]="selectedCategory === 'Humanitaire'"
      (click)="
        selectedIconIndex !== 0
          ? selectCategory('Humanitaire', 0)
          : unselectCategory()
      "
    >
      <fa-icon
        [icon]="faHandshakeAngle"
        [ngClass]="{ 'icon-selected': selectedIconIndex === 0 }"
      ></fa-icon
      ><br />
      <span>Humanitaire</span>
    </div>
    <div
      class="category-icon"
      [class.selected]="selectedCategory === 'Santé'"
      (click)="
        selectedIconIndex !== 1
          ? selectCategory('Santé', 1)
          : unselectCategory()
      "
    >
      <fa-icon
        [icon]="faSuitcaseMedical"
        [ngClass]="{ 'icon-selected': selectedIconIndex === 1 }"
      ></fa-icon
      ><br />
      <span>Santé</span>
    </div>
    <div
      class="category-icon"
      [class.selected]="selectedCategory === 'Environnement'"
      (click)="selectCategory('Environnement', 2)"
    >
      <fa-icon
        [icon]="faEarthAfrica"
        [ngClass]="{ 'icon-selected': selectedIconIndex === 2 }"
      ></fa-icon
      ><br />
      <span>Environnement</span>
    </div>
    <div
      class="category-icon"
      [class.selected]="selectedCategory === 'Enfance'"
      (click)="selectCategory('Enfance', 3)"
    >
      <fa-icon
        [icon]="faBaby"
        [ngClass]="{ 'icon-selected': selectedIconIndex === 3 }"
      ></fa-icon
      ><br />
      <span>Enfants</span>
    </div>
    <div
      class="category-icon"
      [class.selected]="selectedCategory === 'Animaux'"
      (click)="selectCategory('Animaux', 4)"
    >
      <fa-icon
        [icon]="faPaw"
        [ngClass]="{ 'icon-selected': selectedIconIndex === 4 }"
      ></fa-icon
      ><br />
      <span>Animaux</span>
    </div>
    <div
      class="category-icon"
      [class.selected]="selectedCategory === 'Education'"
      (click)="selectCategory('Education', 5)"
    >
      <fa-icon
        [icon]="faGraduationCap"
        [ngClass]="{ 'icon-selected': selectedIconIndex === 5 }"
      ></fa-icon
      ><br />
      <span>Éducation</span>
    </div>
    <div class="search-input">
      <input
        type="text"
        placeholder="Rechercher..."
        #searchInput
        (input)="filterBySearchTerm(searchInput.value)"
      />
    </div>
  </div>
</body>
