.category-icons {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 50px auto 0px auto;
  margin-top: 100px;
}
body {
  height: 10px;
}
.category-icon {
  text-align: center;
  cursor: pointer;
  flex: 1;
}

.category-icon fa-icon {
  font-size: 2rem;
  cursor: pointer;
}

.category-icon span {
  font-size: 0.8rem;
  margin-top: 5px;
}

.category-icon fa-icon.icon-selected {
  font-size: 2.5rem; /* Adjust the size as needed */
  color: #de1515; /* Change the color to tomato */
  padding: 10px; /* Add some space around the icon */
  transition: all 0.8s ease; /* Smooth transition */
}

.search-input {
  width: 100%;
  max-width: 200px;
  margin: 20px 0;
}

.search-input input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: none; /* Remove the box shadow */
  outline: none; /* Remove the outline */
  background-color: #f0f0f0; /* Change to a light gray background */
  text-align: left; /* Center the text */
}
