 .category-icons {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto 0px auto   ; 
   
  }
  body{
    height: 10px;
  }
  .category-icon {
    text-align: center;
    cursor: pointer;
    flex: 1; 
  }
  
  .category-icon fa-icon {
    font-size: 2rem;
    cursor: pointer;
  }
  
  .category-icon span {
    font-size: 0.8rem;
    margin-top: 5px;
  }

  .category-icon fa-icon.icon-selected {
    font-size: 2.5rem; /* Adjust the size as needed */
  }

  