<div class="container">

    <form action="" class="form-container">
        <h2>Inscrire mon association</h2>
        <hr>
        <div>
            <label for="nom_association">Nom de l'association</label>
            <input type="text" id="nom_association" placeholder="Nom complet de l'association" required>
          </div>
          <div>
            <label for="email_association">Adresse email de l'association</label>
            <input type="email" id="email_association" placeholder="adresse@email.com" required>
          </div>
          <div>
            <label for="num_association">Numéro téléphone de l'association</label>
            <input type="nummber" id="num_association" placeholder="N° Téléphone" required>
          </div>
        <div>
            <label for="logo_association">Logo de l'association</label><br>
            <input type="file" id="logo_association" required>
          </div>
          <div>
            <label for="idfiscale_association">Carte d'identité fiscale</label><br>
            <input type="file" id="idfiscale_association" required>
          </div>
          <div>
            <label for="rib_association">Le relevé d'identité bancaire (RIB) de l'association</label>
            <input type="nummber" id="rib_association" placeholder="N° RIB" required>
          </div>
          <div>
            <label for="pwd_association">Mot de passe</label>
            <input type="password" id="pwd_association" aria-describedby="passwordHelpInline">
            <small id="passwordHelpInline" class="text-muted">Ne pas dépasser les 20 caractères</small>
          </div>
          <div>
            <label for="pwd_association">Confirmer le mot de passe</label>
            <input type="password" id="pwd_association">
          </div>
          <button type="button" class="btn_inscrire">Inscrire l'association</button>
    </form>

</div>
