.container {
  position: relative;
  margin: 1%;
  padding-top: 80px;
}

.actualite-heading {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.actualite-heading::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background-color: black;
  margin: auto;
  margin-top: 15px; /* Adjust the space between the underline and the text */
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  color: white;
  padding: 20px;
  text-align: center;
}

.carousel-caption h3 {
  margin: 0 0 10px; /* Added bottom margin for space between title and description */
  font-size: 24px;
  font-weight: bold;
}

.carousel-caption p {
  margin: 0;
  font-size: 15px;
  font-style: italic;
}

.carousel-item {
  position: relative;
  width: 100%;
  overflow: hidden; /* Ensures text doesn't overflow beyond the image */
}

.carousel-item img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.association-heading {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  margin-top: 50px;
}

.association-heading::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background-color: black;
  margin: auto;
  margin-top: 15px; /* Adjust the space between the underline and the text */
}

.associations {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.association {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 200px; /* Adjust this to change the height of each association */
  cursor: url("../../../../assets/images/heart-logo-png-transparent.png"), auto;
}

.association h4 {
  margin-top: 20px;
  font-size: 1rem; /* Pushes the title to the bottom */
  text-align: center;
}

.associations a {
  color: inherit; /* Use the parent element's color */
  text-decoration: none; /* Remove the underline */
}

.associations a:hover {
  color: inherit; /* Keep the color the same when hovered over */
}

.association img {
  width: 150px; /* Adjust this to make the logo smaller or larger */
  height: auto;
  object-fit: contain;
  display: block;
  margin: auto; /* Centers the image */
  transition: transform 0.3s ease-in-out;
}

.association img:hover {
  transform: scale(1.1); /* Scale up the logo */
}

@media (min-width: 600px) {
  .associations {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  .associations {
    grid-template-columns: repeat(5, 1fr);
  }
}

.button-container {
  display: flex;
  justify-content: center;
}

.all-associations-button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 10px 20px; /* Adjust this to change the size of the button */
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
  margin-top: 5%;
  transition: border 0.3s ease-in-out; /* Add this line */
}

.all-associations-button:hover {
  border: 2px solid transparent; /* Add this rule */
}

.collecte-heading {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.collecte-heading::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background-color: black;
  margin: auto;
  margin-top: 15px; /* Adjust the space between the underline and the text */
}

.collectes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.collecte-card {
  width: 18%; /* Adjust this to change the size of the cards */
  border: 1px solid #7f7f7f;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  margin: 1%; /* Add some margin around the cards */
  text-align: center;
  background-color: #fff; /* Add a background color */
  transition: 0.3s; /* Add a transition */
  cursor: url("../../../../assets/images/heart-logo-png-transparent.png"), auto;
}

.collecte-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /* Add a hover effect */
}

.collecte-card img {
  width: 100%; /* This makes the image take up the full width of the card */
  height: 200px; /* This sets a fixed height for the image */
  object-fit: cover; /* This makes the image cover its entire container without distorting its aspect ratio */
}

.collecte-card h3 {
  height: 60px; /* This sets a fixed height for the title */
  overflow: hidden; /* This hides any overflow */
  text-overflow: ellipsis; /* This adds an ellipsis (...) when the text overflows */
  display: -webkit-box; /* This makes the text form a block */
  -webkit-line-clamp: 2; /* This limits the text to 2 lines */
  -webkit-box-orient: vertical; /* This makes the text overflow vertically */
  font-size: 17px;
}

.collecte-card h4 {
  font-size: 17px;
  color: #de1515; /* This sets the color of the text to red */
}

.collecte-card p {
  color: grey; /* This sets the color of the text to grey */
}

.collecte-indicator {
  color: #000;
  text-align: right; /* This aligns the text to the right */
  margin-bottom: 5px; /* This adds some space between the indicator and the progress bar */
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #f3f3f3;
  border-radius: 5px; /* Add rounded corners to the progress bar */
  position: relative; /* Add this to position the span correctly */
}

.progress {
  height: 100%;
  background-color: #de1515;
  border-radius: 5px; /* Add rounded corners to the progress */
  display: flex; /* Add this to center the text vertically */
  align-items: center; /* Add this to center the text vertically */
  justify-content: center; /* Add this to center the text horizontally */
  color: #fff; /* Add this to make the text white */
  font-size: 13px; /* Adjust this to change the size of the text */
}
