*{  
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
    position: relative;
    margin-top: 2.7%;
}

.container{
    padding:50px 9%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.container .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
    z-index: 999;
}

.container .box-container .box {
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding:30px 20px;
  width: 300px;
  height: 350px; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
 position: flex;
 border-radius: 20px;
 border: 2px solid black;
}

.container .box-container .box img {
  height: 80px;
  align-self: center; /* Center image vertically */
}

.container .box-container .box h3 {
  color:#444;
  font-size: 20px;
  padding:10px 0;
}

.container .box-container .box .description {
  color:#777;
  font-size: 12px;
  line-height: 1.5;
  flex-grow: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}





.container .box-container .box:hover {
  box-shadow: 0 10px 15px rgba(0,0,0,.3);
  transform: scale(1.03);
}






@media (max-width:768px) {
  .container {
      padding:20px;
  }
}
