<div class="container">
  <div class="main-heading">" Grâce à vous... "</div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let actualite of actualites">
      <a href="">
        <div class="carousel-item">
          <img src="{{actualite.image}}" alt="">
          <div class="carousel-caption">
            <h3>{{actualite.titre}}</h3>
            <p>{{actualite.description}}</p>
          </div>
        </div>
      </a>      
    </ng-template>  
  </owl-carousel-o>
</div>
