<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">

  <body>
    <div class="sidebar">
      <div class="logo">
        <img src="{{selectedAssociation?.logo}}" alt="logo">
       
      </div>
      <ul class="links">
        <h4>Compte</h4>
        <li>
          <span class="material-symbols-outlined">person</span>
          <a [routerLink]="['compteAssociation']">Mon compte</a>
        </li>
        <li class="logout-link">
            <span class="material-symbols-outlined">logout</span>
            <a href="#">Se déconnecter</a>
          </li>
        
       
        <hr>
        <h4>Gestion des collectes</h4>
        <li>
          <span class="material-symbols-outlined">list</span>
          <a href="#">Afficher mes collectes</a>
        </li>
        <li>
          <span class="material-symbols-outlined">add</span>
          <a href="#">Ajouter une collecte </a>
        </li>
        <li>
          <span class="material-symbols-outlined">edit</span>
          <a href="#">Modifier une collecte </a>
        </li>
        <li>
          <span class="material-symbols-outlined">delete</span>
          <a href="#">Supprimer une collecte</a>
        </li>
        
        <hr>
        <h4>Gestion des actualités</h4>
        <li>
          <span class="material-symbols-outlined">list</span>
          <a href="#">Afficher mes actualités</a>
        </li>
        <li>
          <span class="material-symbols-outlined">add</span>
          <a href="#">Ajouter une actualité</a>
        </li>
        <li>
          <span class="material-symbols-outlined">edit</span>
          <a href="#">Modifier une actualité </a>
        </li>
        <li>
            <span class="material-symbols-outlined">delete</span>
            <a href="#">Supprimer une actualité </a>
          </li>
        
      </ul>
    </div>
  </body>
