<div class="container">
     <app-collecte-details-assocation *ngIf="service.collecteDetailShowModal" [collecte]="selectedCollecte"></app-collecte-details-assocation>
    <app-modifier-collecte *ngIf="service.collecteModifierShowModal" [collecte]="selectedCollecte"></app-modifier-collecte>
  
    <div class="search-container">
      <label for="searchInput">Chercher une collecte :</label>
      <input type="text" id="searchInput" [ngModel]="searchTerm" (ngModelChange)="chercherCollecte($event)" placeholder="Entrer le nom de la collecte">
  </div>
  
  
    <div *ngFor="let collecte of filteredCollecteList" class="actualite">
    
  
      {{ collecte.nom }}
      <div class="icons-container">
        <div class="icon-wrapper">
        <i><fa-icon [icon]="faList" class="on-icon" (click)="afficherDetails(collecte)"></fa-icon></i>
       </div>
       <div class="icon-wrapper">
        <i><fa-icon [icon]="faPenToSquare" class="on-icon" (click)="modifierCollecte(collecte)"></fa-icon></i>
       </div>
       <div class="icon-wrapper">

        <i><fa-icon [icon]="faTrash" class="on-icon" (click)="supprimerCollecte(collecte)"></fa-icon></i> 
       </div>
      </div>
    </div>
  </div>
  