
  <body>

    <div class="category-icons">
      <div class="category-icon" (click)="selectCategory('humanitaire')">
        <fa-icon [icon]="faHandshakeAngle"></fa-icon><br>
        <span>Humanitaire</span>
      </div>
      <div class="category-icon" (click)="selectCategory('santé')">
        <fa-icon [icon]="faSuitcaseMedical"></fa-icon><br>
        <span>Santé</span>
      </div>
      <div class="category-icon" (click)="selectCategory('environnement')">
        <fa-icon [icon]="faEarthAfrica"></fa-icon><br>
        <span>Environnement</span>
      </div>
      <div class="category-icon" (click)="selectCategory('enfance')">
        <fa-icon [icon]="faBaby"></fa-icon><br>
        <span>Enfance</span>
      </div>
      <div class="category-icon" (click)="selectCategory('animaux')">
        <fa-icon [icon]="faPaw"></fa-icon><br>
        <span>Animaux</span>
      </div>
      <div class="category-icon" (click)="selectCategory('éducation')">
        <fa-icon [icon]="faGraduationCap"></fa-icon><br>
        <span>Éducation</span>
      </div>
    </div>
    
  </body>