<header>
    <div class="navbar">

        <div class="logo">
            <a href=""><img src="../../assets/logodonbyuib.png" alt=""></a>
        </div>
        <ul class="links">
            <li><a href="">Accueil</a></li>
            <li><a href="">Associations</a></li>
            <li><a href="">Collectes</a></li>
            <li><a href="">FAQ</a></li>
    
        </ul>

        <a href="" class="action_btn">S'inscrire</a>
        <a href="" class="action_btn">Inscrire mon association</a>
        <a href="" class="action_btn">Se connecter</a>

        <div class="toggle_btn">
            <fa-icon [icon]="faB"></fa-icon>
        </div>


    </div>
    
</header>