<header>
    <div class="navbar">

        <div class="logo">
            <a href=""><img src="../../assets/logodonbyuib.png" alt=""></a>
        </div>
        <ul class="links">
            <li><a href="">Accueil</a></li>
            <li><a href="">Associations</a></li>
            <li><a href="">Collectes</a></li>
            <li><a href="">FAQ</a></li>
    
        </ul>

        <a href="" class="action_btn">S'inscrire</a>
        <a [routerLink]="['inscrireAssociation']"  class="action_btn">Inscrire mon association</a>
        <a [routerLink]="['login']" class="action_btn">Se connecter</a>

        <div class="toggle_btn" (click)="toggleMenu()">
            <fa-icon [icon]="isMenuOpen ? faX : faB"></fa-icon>
        </div>

    </div>

    <div class="dropdown_menu" [class.open]="isMenuOpen">
        <ul>
            <li><a href="">Accueil</a></li>
            <li><a href="">Associations</a></li>
            <li><a href="">Collectes</a></li>
            <li><a href="">FAQ</a></li>
            <li><a href="" class="action_btn">S'inscrire</a></li>
            <li ><a  [routerLink]="['inscrireAssociation']" class="action_btn">Inscrire mon association</a></li>
            <li><a [routerLink]="['login']" class="action_btn">Se connecter</a></li>
        </ul>
    </div>
</header>
