*{
    margin: 0;
    padding: 0;
        box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    height: 100vh;
    background-color: white;
    background-size: cover;
    background-position: center;
}
img {
    width: 80px; /* Vous pouvez ajuster cette valeur selon vos besoins */
    height: auto; /* Cela assure que l'image conserve son aspect ratio */
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    
}
a:hover{  
    color: rgba(0, 0, 0, 0.42);
    text-decoration: underline;
}

.navbar{
    width: 100%;
    height: 70px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .toggle_btn{
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.navbar .links{
    display: flex;
    gap: 4rem;
}
.action_btn{
    background-color: black;
    color:white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}
.action_btn:hover{
    scale: 1.01;
    color:rgba(255, 255, 255, 0.461);
    text-decoration: none;
}
.action_btn:active{
    scale:0.95;
}

/* Dropdown menu */
.dropdown_menu{
    display: none;
    position: absolute;
    right:2rem;
    top:60px;
    height: 0;
    width: 300px;
    background-color:rgba(80, 71, 71, 0.53) ;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 38%;
}

.dropdown_menu li{
    padding:  0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-self: center;
}

/* Responsive Styles */
@media (max-width: 830px) {
    .navbar .links, .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}

@media(max-width : 576px){
    .dropdown_menu{
        left:2rem;
        width: unset ;
    }
}