<!-- <h2>Associations</h2>
<h3 *ngFor="let ass of associations" >
<p> {{ass.nom}}</p>
<p><img src={{ass.logo}}></p></h3>
 -->

 <div class="container">
    <h2>Détails de l'association</h2>
    <div *ngIf="associationData">
      <p><strong>Nom :</strong> {{ associationData.nom }}</p>
      <p><strong>Description :</strong> {{ associationData.description }}</p>
      <p><strong>Email :</strong> {{ associationData.email }}</p>
      <!-- Ajoutez d'autres champs ici selon vos besoins -->
    </div>
    <div *ngIf="!associationData">
      <p>Chargement des détails de l'association...</p>
    </div>
  </div>
  

