<div class="container">
  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#fff"
    type="square-loader"
    [fullScreen]="true"
  >
    <p
      style="
        color: white;
        font-family: &quot;Gill Sans&quot;, &quot;Gill Sans MT&quot;, Calibri,
          &quot;Trebuchet MS&quot;, sans-serif;
      "
    >
      Traitement en cours...
    </p>
  </ngx-spinner>

  <form [formGroup]="aFormGroup" class="form-container">
    <h2>Inscrire mon association</h2>
    <hr />
    <div>
      <label for="nom_association">Nom de l'association<span> *</span></label>
      <input
        type="text"
        id="nom_association"
        formControlName="nom"
        placeholder="Nom complet de l'association"
        required
      />
      <div
        class="error-message"
        *ngIf="
          aFormGroup.get('nom')?.invalid &&
          (aFormGroup.get('nom')?.dirty || aFormGroup.get('nom')?.touched)
        "
      >
        <div *ngIf="aFormGroup.get('nom')?.errors?.['required']">
          Le nom de l'association est requis.
        </div>
      </div>
    </div>
    <div>
      <label for="description_association"
        >Description de l'association<span> *</span></label
      ><br />
      <textarea
        id="description_association"
        formControlName="description"
        placeholder="Description de l'association"
        class="description_association"
        required
      ></textarea>
      <div
        class="error-message"
        *ngIf="
          aFormGroup.get('description')?.invalid &&
          (aFormGroup.get('description')?.dirty ||
            aFormGroup.get('description')?.touched)
        "
      >
        <div *ngIf="aFormGroup.get('description')?.errors?.['required']">
          La description de l'association est requise.
        </div>
      </div>
    </div>

    <div>
      <label for="categorie_association"
        >Catégorie de l'association<span> *</span></label
      ><br />
      <select id="categorie_association" formControlName="categorie" required>
        <option value="" disabled selected>Sélectionner une catégorie</option>
        <option *ngFor="let categorie of categories" [value]="categorie">
          {{ categorie }}
        </option>
      </select>
      <div
        class="error-message"
        *ngIf="
          aFormGroup.get('categorie')?.invalid &&
          (aFormGroup.get('categorie')?.dirty ||
            aFormGroup.get('categorie')?.touched)
        "
      >
        <div *ngIf="aFormGroup.get('categorie')?.errors?.['required']">
          La catégorie de l'association est requise.
        </div>
      </div>
    </div>

    <div>
      <label for="email_association"
        >Adresse email de l'association<span> *</span></label
      >
      <input
        type="email"
        id="email_association"
        formControlName="email"
        placeholder="adresse@email.com"
        required
      />
      <div
        class="error-message"
        *ngIf="
          aFormGroup.get('email')?.invalid &&
          (aFormGroup.get('email')?.dirty || aFormGroup.get('email')?.touched)
        "
      >
        <div *ngIf="aFormGroup.get('email')?.errors?.['required']">
          L'adresse email de l'association est requise.
        </div>
        <div *ngIf="aFormGroup.get('email')?.errors?.['email']">
          L'adresse email n'est pas valide.
        </div>
      </div>
    </div>

    <div>
      <label for="adresse">Adresse de l'association<span> *</span></label>
      <input
        type="text"
        id="adresse"
        formControlName="adresse"
        placeholder="Adresse complète de l'association"
        required
      />
      <div
        class="error-message"
        *ngIf="
          aFormGroup.get('adresse')?.invalid &&
          (aFormGroup.get('adresse')?.dirty ||
            aFormGroup.get('adresse')?.touched)
        "
      >
        <div *ngIf="aFormGroup.get('adresse')?.errors?.['required']">
          L'adresse' de l'association est requise.
        </div>
      </div>
    </div>

    <div>
      <label for="gouvernerat">Gouvernerat<span> *</span></label
      ><br />
      <select id="gouvernerat" formControlName="gouvernerat" required>
        <option value="" disabled selected>Sélectionner un gouvernerat</option>
        <option *ngFor="let gouvernerat of gouvernerats" [value]="gouvernerat">
          {{ gouvernerat }}
        </option>
      </select>
      <div
        class="error-message"
        *ngIf="
          aFormGroup.get('gouvernerat')?.invalid &&
          (aFormGroup.get('gouvernerat')?.dirty ||
            aFormGroup.get('gouvernerat')?.touched)
        "
      >
        <div *ngIf="aFormGroup.get('gouvernerat')?.errors?.['required']">
          Le gouvernerat de l'association est requis.
        </div>
      </div>
    </div>

    <div>
      <label for="num_association"
        >Numéro téléphone de l'association<span> *</span></label
      >
      <input
        type="tel"
        id="num_association"
        formControlName="telephone"
        placeholder="N° Téléphone"
        required
      />
      <div
        class="error-message"
        *ngIf="
          aFormGroup.get('telephone')?.invalid &&
          (aFormGroup.get('telephone')?.dirty ||
            aFormGroup.get('telephone')?.touched)
        "
      >
        <div *ngIf="aFormGroup.get('telephone')?.errors?.['required']">
          Le numéro de téléphone est requis.
        </div>
        <div
          *ngIf="
            aFormGroup.get('telephone')?.errors?.['minlength'] ||
            aFormGroup.get('telephone')?.errors?.['maxlength']
          "
        >
          Le numéro de téléphone doit comporter exactement 8 chiffres.
        </div>
      </div>
    </div>
    <div>
      <label for="logo_association">Logo de l'association<span> *</span></label
      ><br />
      <input
        type="file"
        id="logo_association"
        formControlName="logo"
        (change)="onLogoFileSelected($event)"
        accept="image/png, image/jpeg, image/svg+xml"
        required
      />
      <div
        class="error-message"
        *ngIf="
          aFormGroup.get('logo')?.invalid &&
          (aFormGroup.get('logo')?.dirty || aFormGroup.get('logo')?.touched)
        "
      >
        <div *ngIf="aFormGroup.get('logo')?.errors?.['required']">
          Le logo de l'association est requis.
        </div>
      </div>
    </div>
    <div>
      <label for="idfiscale_association"
        >Carte d'identité fiscale<span> *</span></label
      ><br />
      <input
        type="file"
        id="idfiscale_association"
        formControlName="id_fiscale"
        (change)="onIdFileSelected($event)"
        accept="image/png, image/jpeg, image/svg+xml"
        required
      />
      <div
        class="error-message"
        *ngIf="
          aFormGroup.get('id_fiscale')?.invalid &&
          (aFormGroup.get('id_fiscale')?.dirty ||
            aFormGroup.get('id_fiscale')?.touched)
        "
      >
        <div *ngIf="aFormGroup.get('id_fiscale')?.errors?.['required']">
          La carte d'identité fiscale est requise.
        </div>
      </div>
    </div>

    <div>
      <label for="matricule_fiscal_association"
        >Matricule fiscal de l'association<span> *</span></label
      >
      <input
        type="text"
        id="matricule_fiscal_association"
        formControlName="matricule_fiscale"
        placeholder="Matricule fiscal"
        required
      />
      <div
        class="error-message"
        *ngIf="
          aFormGroup.get('matricule_fiscale')?.invalid &&
          (aFormGroup.get('matricule_fiscale')?.dirty ||
            aFormGroup.get('matricule_fiscale')?.touched)
        "
      >
        <div *ngIf="aFormGroup.get('matricule_fiscale')?.errors?.['required']">
          Le matricule fiscal de l'association est requis.
        </div>
      </div>
    </div>

    <div>
      <label for="rib_association"
        >Le relevé d'identité bancaire (RIB) de l'association<span>
          *</span
        ></label
      >
      <input
        type="text"
        id="rib_association"
        formControlName="rib"
        placeholder="N° RIB"
        required
      />
      <div
        class="error-message"
        *ngIf="
          aFormGroup.get('rib')?.invalid &&
          (aFormGroup.get('rib')?.dirty || aFormGroup.get('rib')?.touched)
        "
      >
        <div *ngIf="aFormGroup.get('rib')?.errors?.['required']">
          Le RIB de l'association est requis.
        </div>
        <div
          *ngIf="
            aFormGroup.get('rib')?.errors?.['minlength'] ||
            aFormGroup.get('rib')?.errors?.['maxlength']
          "
        >
          Le RIB de l'association doit être composé exactement de 20 caractères.
        </div>
        <div *ngIf="aFormGroup.get('rib')?.errors?.['invalidRIB']">
          Le RIB de l'association est invalide.
        </div>
      </div>
    </div>

    <div>
      <label for="pwd_association">Mot de passe<span> *</span></label>
      <div class="password-input">
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="pwd_association"
          formControlName="mdp"
          aria-describedby="passwordHelpInline"
          required
        />
        <button type="button" id="togglePassword" (click)="togglePassword()">
          <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
        </button>
      </div>
      <div
        class="error-message"
        *ngIf="
          aFormGroup.get('mdp')?.invalid &&
          (aFormGroup.get('mdp')?.dirty || aFormGroup.get('mdp')?.touched)
        "
      >
        <div *ngIf="aFormGroup.get('mdp')?.errors?.['required']">
          Le mot de passe est requis.
        </div>
        <div
          *ngIf="
            aFormGroup.get('mdp')?.errors?.['minlength'] ||
            aFormGroup.get('mdp')?.errors?.['maxlength']
          "
        >
          Le mot de passe doit comporter entre 8 et 20 caractères.
        </div>
        <div *ngIf="aFormGroup.get('mdp')?.errors?.['invalidPasswordFormat']">
          Le mot de passe doit contenir au moins une lettre majuscule, un
          chiffre et un caractère spécial.
        </div>
      </div>
    </div>
    <div>
      <label for="pwd_confirmation"
        >Confirmer le mot de passe<span> *</span></label
      >
      <div class="password-input">
        <input
          [type]="showPasswordConfirmation ? 'text' : 'password'"
          id="pwd_confirmation"
          formControlName="mdp_confirmation"
          required
        />
        <button
          type="button"
          id="togglePasswordConfirmation"
          (click)="togglePasswordConfirmation()"
        >
          <fa-icon
            [icon]="showPasswordConfirmation ? faEye : faEyeSlash"
          ></fa-icon>
        </button>
      </div>
      <div
        class="error-message"
        *ngIf="
          aFormGroup.get('mdp_confirmation')?.invalid &&
          (aFormGroup.get('mdp_confirmation')?.dirty ||
            aFormGroup.get('mdp_confirmation')?.touched)
        "
      >
        <div *ngIf="aFormGroup.get('mdp_confirmation')?.errors?.['required']">
          La confirmation du mot de passe est requise.
        </div>
      </div>
      <div
        *ngIf="
          aFormGroup.get('mdp')?.dirty ||
          aFormGroup.get('mdp_confirmation')?.dirty
        "
      >
        <div
          *ngIf="aFormGroup.hasError('passwordMismatch')"
          class="error-message"
        >
          Les mots de passe ne correspondent pas.
        </div>
      </div>
    </div>
    <p>Les champs avec un astérisque * sont obligatoires</p>

    <input
      type="checkbox"
      id="accept_terms"
      formControlName="accept_terms"
      class="checkbox"
      required
    />J'accepte toutes
    <a
      href="../../../../assets/fichiersPDF/UIB-DonByUIB-Mentions-legales.pdf"
      target="_blank"
      ><label> les conditions générales d'utilisation.</label></a
    >

    <ngx-recaptcha2
      #captchaElem
      [siteKey]="siteKey"
      formControlName="recaptcha"
    ></ngx-recaptcha2>

    <div *ngIf="showErrorNotification" class="error-notification">
      Certains champs sont invalides. Veuillez les corriger avant de soumettre
      le formulaire.
    </div>
    <div *ngIf="showSuccessMessage" class="success-message">
      Votre demande a été prise en considération avec succès !
    </div>
    <div *ngIf="showEmailExists" class="error-notification">
      L'adresse e-mail est déjà utilisée. Veuillez saisir une autre adresse
      e-mail.
    </div>
    <div *ngIf="showNameExists" class="error-notification">
      Le nom que vous avez choisi est déjà utilisé par une autre association,
      veuillez choisir un nom unique!
    </div>

    <button type="submit" class="btn_inscrire" (click)="onSubmit()">
      Inscrire l'association
    </button>
  </form>
</div>
