<div class="association-details" *ngIf="selectedAssociation">
  <h2>Mon association</h2>
  <hr />
  <strong><p>Logo :</p></strong>
  <img [src]="selectedAssociation.logo" />
  <strong><p>Nom :</p></strong>
  <p>{{ selectedAssociation.nom }}</p>
  <strong><p>Catégorie :</p></strong>
  <p>{{ selectedAssociation.categorie }}</p>
  <strong><p>Description :</p></strong>
  <p>{{ selectedAssociation.description }}</p>
  <strong><p>Adresse :</p></strong>
  <p>{{ selectedAssociation.adresse }}</p>
  <strong><p>Email :</p></strong>
  <p>{{ selectedAssociation.email }}</p>
  <strong><p>Téléphone :</p></strong>
  <p>{{ selectedAssociation.telephone }}</p>
  <div class="buttons">
    <button
      (click)="
        service.modifierAss = true;
        service.compte = false;
        service.modifierEmail = false
      "
    >
      Modifier
    </button>
    <button
      (click)="
        service.modifierMdpAss = true;
        service.compte = false;
        service.modifierEmail = false
      "
    >
      Modifier le mot de passe
    </button>
    <button
      (click)="
        service.modifierMdpAss = false;
        service.compte = false;
        service.modifierEmail = true
      "
    >
      Modifier l'adresse email
    </button>
  </div>
</div>
