<!-- <app-categorie (categorySelected)="filterByCategory($event)"></app-categorie>
<body>  

   <div class="container">     
     <div class="card_container" *ngFor="let ass of associations">
       <div class="card">
         <div class="imgBx"><img [src]="ass.logo" alt="image"></div>
         <div class="content">
           <h2>{{ ass.nom }}</h2>
           <p>{{ ass.description }}</p>
           <a [routerLink]="['details', ass.id]"  class="card__button" (click)="service.showDetails = true">Read More</a>
         </div>
       </div>
     </div>
   </div>
 </body>
  -->
  <app-categorie (categorySelected)="filterByCategory($event)"></app-categorie>
  <body>  
    <div class="container">
    
        <div class="box-container" >
    
            <div class="box" *ngFor="let ass of associations">
                <img [src]="ass.logo" alt="Oups!">
                <h3>{{ ass.nom }}</h3>
                <p class="description">{{ ass.description }}</p>
                <a href="#" class="btn" [routerLink]="['details', ass.id]"
                (click)="service.showDetails = true"
               (mouseenter)="ass.id && toggleIconState(ass.id, true)" 
               (mouseleave)="ass.id && toggleIconState(ass.id, false)">
              <span *ngIf="!ass.id || !associationHoverState.get(ass.id)">Faire un don</span>
              <span class="icon" *ngIf="ass.id && associationHoverState.get(ass.id)">
                  <fa-icon [icon]="faHandHoldingDollar"></fa-icon>
              </span>
          </a>
            </div>
    
        </div>
    
    </div>
    
</body>