<body>
  <div class="container">
     <div class="card__container" >
        <article class="card__article" *ngFor="let ass of associations">
           <img [src]="ass.logo" alt="image" class="card__img">

           <div class="card__data">
              <span class="card__description">{{ ass.description }}</span>
              <h2 class="card__title">{{ ass.nom }}</h2>
              <a [routerLink]="['details']" class="card__button">Read More</a>
           </div>
        </article>
     </div>
  </div>
</body>