.admin-details {
    width: 600px;
    padding: 20px;
    background-color: white;
    margin: 2%;
}

.admin-details h2 {
    color: #850707;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.admin-details p {
    color: black;
    margin-bottom: 10px;
}



hr {
    border: none;
    height: 1.5px;
    background-color: black; 
    width: 50%; 
    margin: 0 auto; 
    margin-bottom: 4%;
}