.dashboard-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
  padding: 50px;
  background-color: #f4f4f415; /* Light background color */
  margin-left: 100px;  /* Add left margin */
  margin-top: 80px;   /* Add top margin */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff; /* White background for cards */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
  transition: transform 0.2s; /* Smooth transition */
}

.card:hover {
  transform: translateY(-5px); /* Lift on hover */
}

.card h2 {
  font-size: 1.25rem;
  margin-bottom: 15px;
  color: #333333; /* Darker text color */
  text-align: center;
}

.card p {
  font-size: 1.25rem;
  margin: 0;
  color: #555555; /* Medium text color */
}

.chartdiv, .canvas-container {
  width: 100%;
  height: 300px; /* Standardize height */
}

.card img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px; /* Rounded corners for images */
}

.card .chartdiv {
  height: 400px; /* Specific height for map */
}

table {
  width: 100%;
  border-collapse: collapse; /* Remove cell spacing */
}

th, td {
  text-align: center;
  padding: 10px; /* Standardize padding */
  border-bottom: 1px solid #eeeeee; /* Light border */
}

th {
  background-color: #fafafa; /* Slightly different background for headers */
}

tbody tr:hover {
  background-color: #f9f9f9; /* Slight hover effect for rows */
}

@media (max-width: 600px) {
  .dashboard-container {
    grid-template-columns: 1fr; /* Single column layout for small screens */
  }
}
