.dashboard-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding-left: 115px;
    padding-top: 100px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Adjust padding as needed */
    margin: 10px; /* Add margin between cards */
    border: 1px solid #ccc; /* Add border for visualization */
    border-radius: 20px;
  }
  
  .card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .canvas-container {
    width: 100%;
    height: 300px;
  }
  
  .canvas-container canvas {
    width: 100%;
    height: 100%;
    display: block;
  }

  .card img {
    max-width: 100%;
    height: auto;
    display: block; /* Ensures images don't inherit any unwanted whitespace */
  }
  
  .card .chartdiv {
    width: 100%;
    z-index: -1;
    height: 400px; /* Adjust the height as needed */
    padding: 10px; /* Add padding to the map */
    box-sizing: border-box; /* Include padding in the total width/height */
  }

  table {
    width: 100%;
  }
  
  th, td {
    text-align: center;
    padding: 15px;
  }