<div class="numbers-container">
  <div class="number-card">
    <h2>Nombre d'Associations Partenaires</h2>
    <p>{{ activeAssociationsCount}}</p>
  </div>
  <div class="number-card">
    <h2>Nombre de Collectes En Cours</h2>
    <p>{{ acceptedCollectesCount }}</p>
  </div>
  <div class="number-card">
    <h2>Nombre de Donateurs Inscrits</h2>
    <p>{{ donateursCount }}</p>
  </div>
  <div class="number-card">
    <h2>Taux de Satisfaction Des Donateurs</h2>
    <p>{{ satisfactionRate }}%</p>
  </div>
</div>
<div class="dashboard-container">
  <div class="card">
    <h2>Répartition des Associations par Gouvernorat</h2>
    <div class="chartdiv"></div>
  </div>
  <div class="card">
    <h2>Répartition des Associations par Catégorie</h2>
    <canvas class="piechart" width="400" height="400"></canvas>
  </div>
  <div class="card">
    <h2>Évolution Des Dons</h2>
    <canvas class="linechart" width="400" height="300"></canvas>
  </div>
  <div class="card">
    <h2>Demandes Acceptées et Refusées</h2>
    <canvas id="barChart" class="barChart" width="400" height="300"></canvas>
  </div>
  <div class="card">
    <h2>Dons par Association</h2>
    <canvas id="doughnutChart" class="doughnutChart" width="400" height="400"></canvas>
  </div>
  <div class="card">
    <h2>Top 5 des Associations Bénéficiaires</h2>
    <table>
      <thead>
        <tr>
          <th>Nom de l'association</th>
          <th>Montant en DT</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let donation of allDonations | slice:0:5; let i = index">
          <td>{{ donation.associationName }}</td>
          <td><strong>{{ donation.totalDonation }}</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card">
    <h2>Top 5 des Donateurs</h2>
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Montant en DT</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let donator of topDonators | slice:0:5; let i = index">
          <td>{{ donator.name }}</td>
          <td><strong>{{ donator.totalDonation }}</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card" *ngIf="positiveWordcloudUrl">
    <h2>Nuage des Mots Positifs</h2>
    <img [src]="positiveWordcloudUrl" alt="Positive Wordcloud">
  </div>
  <div class="card" *ngIf="sentimentAnalysisUrl">
    <h2>Analyse des Sentiments des Donateurs</h2>
    <img [src]="sentimentAnalysisUrl" alt="Sentiment Analysis Chart">
  </div>
</div>
