<div class="container">
<app-side-bar-admin></app-side-bar-admin>
<div class="content">

    <app-crud-utilisateurs *ngIf="service.crudUtilisateurs"></app-crud-utilisateurs>

    <app-crud-associations  *ngIf="service.crudAssociations"></app-crud-associations>

    <app-crud-collectes *ngIf="service.crudCollectes"></app-crud-collectes>
    <app-ajouter-association-admin *ngIf="service.ajouterAssociation"></app-ajouter-association-admin>
    <app-ajouter-donateur-admin *ngIf="service.ajouterDonateur"></app-ajouter-donateur-admin>
    <app-ajouter-collecte-admin  *ngIf="service.ajouterCollecte"></app-ajouter-collecte-admin>
    <app-ajouter-actualite-admin *ngIf="service.ajouterActualite"></app-ajouter-actualite-admin>
    <app-crud-actualites *ngIf="service.crudActualites"></app-crud-actualites>

  </div>
  </div>
