<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>


  <body>
    <div class="sidebar">
      <div class="logo">
        <img src="../../../../assets/images/admin.jpg" alt="logo">
       
      </div>
      <ul class="links">
        <h4>Compte</h4>
        <li>
          <span class="material-symbols-outlined">person</span>
          <a>Mon compte</a>
        </li>
        <li class="logout-link">
            <span class="material-symbols-outlined">logout</span>
            <a>Se déconnecter</a>
          </li>
        
       
        <hr>
        <h4>Donateurs</h4>
        <li>
          <span class="material-symbols-outlined">list</span>
          <a (click)="service.crudUtilisateurs=true;
          service.compte=false;
          service.crudAssociations=false;
          service.crudCollectes=false">Gestion des donateurs</a>
        </li>
        <li>
          <span class="material-symbols-outlined">add</span>
          <a>Ajouter un utilisateur</a>
        </li>
        
        
        <hr>
        <h4>Associations</h4>
        <li>
          <span class="material-symbols-outlined">list</span>
          <a (click)="service.crudUtilisateurs=false;
          service.compte=false;
          service.crudAssociations=true;
          service.crudCollectes=false">Gestion des associations</a>
        </li>
        <li>
          <span class="material-symbols-outlined">add</span>
          <a>Ajouter une association</a>
        </li>
        
        
        <hr>
        <h4>Collectes</h4>
        <li>
          <span class="material-symbols-outlined">list</span>
          <a (click)="service.crudUtilisateurs=false;
          service.compte=false;
          service.crudAssociations=false;
          service.crudCollectes=true">Gestion des collectes</a>
        </li>
        <li>
          <span class="material-symbols-outlined">add</span>
          <a>Ajouter une collecte</a>
        </li>
        
        
        <hr>
        <h4>Actualités</h4>
        <li>
          <span class="material-symbols-outlined">list</span>
          <a>Gestion des actualités</a>
        </li>
        <li>
          <span class="material-symbols-outlined">add</span>
          <a>Ajouter une actualité</a>
        </li>
        
        
      </ul>

