<div class="container">
  <form [formGroup]="aFormGroup" class="form-container" (ngSubmit)="onSubmit()">
    <h2>Se connecter</h2>
    <hr>
    <div>
      <label for="userType">Type d'utilisateur   </label>
      <select id="userType" formControlName="userType" required>
        <option value="donateur">Donateur</option>
        <option value="association">Association</option>
      </select>
    </div>
    
  <!-- login association -->
  <div class="association" *ngIf="aFormGroup.get('userType')?.value === 'association'">

  <div>
    <label for="email_association">Adresse email de l'association</label>
    <input type="email" id="email_association" formControlName="email" placeholder="adresse@email.com" required>
  </div>

  <div class="pwd">
    <label for="pwd_association">Mot de passe</label>
    <div class="password-input">
      <input [type]="showPassword ? 'text' : 'password'" id="pwd_association"  formControlName="password" aria-describedby="passwordHelpInline" required>
      <button type="button" id="togglePassword" (click)="togglePassword()">
        <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
      </button>
    </div>
  </div>
  <a href="">Mot de passe oublié?</a><br>

  <input type="checkbox" id="remember_me" class="checkbox" required>
  <label for="remember_me">Se souvenir de moi</label>

  <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha"></ngx-recaptcha2>
  
  <div *ngIf="showErrorNotification" class="error-notification">
    Recaptcha non validé!
  </div>
  <div *ngIf="serviceAssociation.showErrorNotification" class="error-notification">
    Adresse e-mail ou mot de passe incorrect !
  </div>
  <div class="wait-notification" *ngIf="enAttenteDeVerification">
    <p>
      Le compte de l'association n'est pas encore approuvé, merci de votre patience!
      <br>
      La demande a été effectuée le <strong>{{ pendingDemandDate | date: 'dd/MM/yyyy' }}</strong>.
    </p>
  </div>

  <button type="submit" class="btn_login">Connexion</button>
  
  </div>


 <!-- login donateur -->
 <div class="donateur" *ngIf="aFormGroup.get('userType')?.value === 'donateur'">

  <div>
    <label for="email_donateur">Adresse email de l'association</label>
    <input type="email" id="email_donateur" formControlName="email" placeholder="adresse@email.com" required>
  </div>

  <div class="pwd">
    <label for="pwd_donateur">Mot de passe</label>
    <div class="password-input">
      <input [type]="showPassword ? 'text' : 'password'" id="pwd_donateur"  formControlName="password" aria-describedby="passwordHelpInline" required>
      <button type="button" id="togglePassword" (click)="togglePassword()">
        <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
      </button>
    </div>
  </div>
  <a href="">Mot de passe oublié?</a><br>

  <input type="checkbox" id="remember_me" class="checkbox" required>
  <label for="remember_me">Se souvenir de moi</label>

  <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha"></ngx-recaptcha2>
  
  <div *ngIf="showErrorNotification" class="error-notification">
    Recaptcha non validé!
  </div>
  <div *ngIf="serviceDonateur.showErrorNotification" class="error-notification">
    Adresse e-mail ou mot de passe incorrect !
  </div>

  <button type="submit" class="btn_login">Connexion</button>
  
  </div>
  


  </form>
</div>
