<div class="container">
  <div class="box-container">
    <div class="box" *ngFor="let collecte of collectes">
      <img [src]="collecte.image" alt="Oups!">
      <h3>{{ collecte.nom }}</h3>
      <p class="description">{{ collecte.description }}</p>
      <div class="details">
        <div class="dates">
          <p>Date de début : {{ collecte.date_debut | date }}</p>
          <p>Date de fin : {{ collecte.date_fin | date }}</p>
        </div>
        <div class="amount">
          <p>Montant : {{ collecte.montant }}</p>
        </div>
      </div>
      <div class="progress-bar">
        <div class="progress" [style.width]="getProgressWidth(collecte)"></div>
      </div>
      <p>Temps restant : {{ getTimeRemaining(collecte.date_fin) }}</p>
      <a class="btn" [routerLink]="['details', collecte.id]"
        (click)="toggleShowDetails()"
        (mouseenter)="collecte.id && toggleIconState(collecte.id, true)" 
        (mouseleave)="collecte.id && toggleIconState(collecte.id, false)">
        <span *ngIf="!collecte.id || !collecteHoverState.get(collecte.id)">Faire un don</span>
        <span class="icon" *ngIf="collecte.id && collecteHoverState.get(collecte.id)">
          <fa-icon [icon]="faHandHoldingDollar"></fa-icon>
        </span>
      </a> 
    </div>
  </div>
</div>


  