*{
  margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
    position: relative;
    margin-top: 2.7%;
}

.container {
  padding:50px 9%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap:15px;
  z-index: 999;
}

.description {
  margin-top: 5px;
  text-align: center;
  color: #777;
  font-size: 15px;
  line-height: 1.5;
  flex-grow: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; 
  position: relative;
}
.box {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10PX;
  border: 1px solid black;
  background: #fff;
  text-align: center;
  padding: 20px 10px;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dates, .amount {
  width: auto; /* Adjust based on your design */
}

.box img {
  width: 100%; /* Ensures the image does not exceed the container width */
  height: 200px; /* Sets a maximum height for the image */
  display: block; /* Ensures proper spacing and alignment */
  margin: 0 auto; /* Centers the image horizontally */
  object-fit: contain;
}

h3::after {
  content: '';
  display: block;
  width: 50%;
  height: 1.5px;
  background-color: black;
  margin: auto;
  margin-top: 15px; /* Adjust the space between the underline and the text */
}

.progress-bar {
  border-radius: 5px;
  height: 15px;
  margin: 10px 0;

}

.progress {
  background-color: #606060c2;
  border-radius: 5px;
  height: 100%;
}

.btn {
  display: inline-block;
  background-color: #ff0000;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  background-color: #ffffff;
  color: red;
}
