.dialog{
    height: fit-content;    
    width: 300px;
    background-color: lightgrey;
    box-shadow: 10px 5px 10px rgba(131, 7, 7, 0.538);
    border-radius: 5px;
    padding: 10px;
    position: relative;
    top:50px
}
h3{
    color: rgba(131, 7, 7, 0.966);
    text-align:center ;
    font: bolder;
    
}


:host{
    /* display: block; */
    position: fixed;
    left:0px;
    right: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    display: flex;
    width: 50%;
    height: 50%;
}