<div class="dialog">
    <div class="header">
        <h3>Détails de la collecte</h3>
        <button class="btn btn-close" (click)="service.collecteDetailShowModal=false"></button>
    </div>
    <hr />
    <div>
        <p>
            {{collecte.nom}} 
        </p>
        <p>
            {{ collecte.description }}
        </p>
        <p>
            <img src="{{collecte.image}}">
        </p>
        <p>
            {{collecte.montant}}
        </p>
        <p>
            {{collecte.date_debut | date}}
        </p>
        <p>
            {{collecte.date_fin | date}}
        </p>
    </div>
</div>
