<div *ngIf="service.showDetails && selectedActualite" class="actualite-details">
    <div class="left-content">
      <div class="actualite-photo">
        <img [src]="selectedActualite.image" alt="Oups!" class="actualite-image">
      </div>
      <div class="actualite-info">
        <h2 class="actualite-name">{{ selectedActualite.titre }}</h2>
        <p class="actualite-description">{{ selectedActualite.description }}</p>
      </div>
      <div class="dates">
        <p>Date de publication : {{ selectedActualite.date_publication | date }}</p>
      </div>
      
    </div>
  
    <div class="right-content" *ngIf="donateurService.connexionDonateur">
      <div *ngIf="commentaires.length > 0" class="commentaires-list">
        <h3>Liste des commentaires</h3>
        <ul>
          <li *ngFor="let commentaire of commentaires; let i = index" [hidden]="!showAllComments && i > 2">
            <ng-container *ngIf="commentaire.id_donateur">
              <img [src]="getDonateurPhotoById(commentaire.id_donateur)" alt="Photo de profil">
            </ng-container>
              <p>{{ commentaire.contenu }}</p>
              <p>Date de publication : {{ commentaire.date_de_publication | date }}</p>
          </li>
      </ul>
      <a *ngIf="commentaires.length > 3" (click)="showAllComments = !showAllComments">
          {{ showAllComments ? 'Voir moins' : 'Voir plus' }}
      </a>
        
      </div>
      <div class="details">
        <form [formGroup]="commentaireForm">
          <p>Ajouter un commentaire:</p>
          <textarea formControlName="contenu"></textarea>
          <button type="button" (click)="ajouterCommentaire()">Ajouter</button>
          <div *ngIf="commentaireAjout" class="success-message">Merci pour votre interaction !</div>

        </form>
      </div>

     
    </div>
  </div>
  