.actualite-details {
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden; /* Prevent content overflow */
    margin: 20px auto; /* Center the container horizontally */
    width: 60%; /* Set a reduced width for the container */
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    /* background-color: rgba(0, 0, 0, 0.1); */
}

.left-content {
    flex: 1; /* Make both sections take up equal space */
    padding: 20px;
    border-right: 1px solid black; /* Add border between sections */
    overflow: hidden; /* Prevent content overflow */
    display: flex; /* Add display flex to center the content */
    flex-direction: column; /* Set flex direction to column */
    align-items: center; /* Center items horizontally */
    line-height: 1.5; 
}

/* Style for the right section */
.right-content {
    flex: 1; /* Make both sections take up equal space */
    padding: 20px;
    overflow: hidden; /* Prevent content overflow */
}

/* Style for the image container */
.actualite-photo {
    margin-bottom: 20px;
    width: 150px; /* Set a fixed width for the logo */
}

/* Style for the image */
.actualite-photo img {
    max-width: 100%;
    max-height: 100%; /* Maintain aspect ratio */
    border-radius: 10px;
}

/* Style for the association info */
.actualite-info {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

/* Style for the association name */
.actualite-info .actualite-name {
    margin-bottom: 5px; /* Adjust margin as needed */
    text-align: center; /* Center the text horizontally */
    border-bottom: 1px solid black; /* Add a small line below the name */
    padding-bottom: 5px; /* Add space below the name */
}

/* Style for the association description */
.actualite-info .actualite-description {
    margin-top: 5px; /* Adjust margin as needed */
    text-align: center; /* Center the text horizontally */
}




