.actualite-details {
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden; /* Prevent content overflow */
    margin: 20px auto; /* Center the container horizontally */
    width: 60%; /* Set a reduced width for the container */
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    /* background-color: rgba(0, 0, 0, 0.1); */
}

.left-content {
    flex: 1; /* Make both sections take up equal space */
    padding: 20px;
    border-right: 1px solid black; /* Add border between sections */
    overflow: hidden; /* Prevent content overflow */
    display: flex; /* Add display flex to center the content */
    flex-direction: column; /* Set flex direction to column */
    align-items: center; /* Center items horizontally */
    line-height: 1.5; 
}

.right-content {
    flex: 1;
    margin: 2%;
   
  }
  
  .right-content .details {
    padding: 20px;
    border-radius: 5px;
  }
  
  .right-content .details p {
    font-size: 15px;
    font-weight: bolder;
  }
  
  .right-content .details textarea {
    width: 80%;
    height: 30%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5%;
    resize: vertical; /* Permet le redimensionnement vertical */
  }
  
  .right-content .details button {
    background-color: #8d1111;
    color: white;
    padding: 5%;
    margin-left: 60%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    
    
  }
  
  .right-content .details button:hover {
    background-color: white;
    color:#8d1111 ;
    font-weight: bold;
  }
  
  

/* Style for the image container */
.actualite-photo {
    margin-bottom: 20px;
    width: 150px; /* Set a fixed width for the logo */
}

/* Style for the image */
.actualite-photo img {
    max-width: 100%;
    max-height: 100%; /* Maintain aspect ratio */
    border-radius: 10px;
}

/* Style for the association info */
.actualite-info {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

/* Style for the association name */
.actualite-info .actualite-name {
    margin-bottom: 5px; /* Adjust margin as needed */
    text-align: center; /* Center the text horizontally */
    border-bottom: 1px solid black; /* Add a small line below the name */
    padding-bottom: 5px; /* Add space below the name */
}

/* Style for the association description */
.actualite-info .actualite-description {
    margin-top: 5px; /* Adjust margin as needed */
    text-align: center; /* Center the text horizontally */
}

.success-message {
    background-color: #dff0d8; 
    color: #3c763d; 
    padding: 10px;
    margin: 10px 0 10px 0;   
    border: 1px solid #f5c6cb;
    border-radius: 8px;
    text-align: center;
  }

  .commentaires-list {
    margin-top: 20px;
  }
  
  .commentaires-list h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .commentaires-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .commentaires-list li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .commentaires-list li p {
    margin: 0;
  }
  
  .commentaires-list li p:first-child {
    font-weight: bold;
  }
  
  .commentaires-list li p:nth-child(2) {
    color: #666;
    font-size: 12px;
  }
  a{
    text-decoration: underline;
    color: blue;
  }

  .commentaires-list li .profile-photo {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    border-radius: 50%; /* Make it a circle */
    overflow: hidden; /* Hide overflow content */
    display: flex; /* Use flexbox to center the image */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  .commentaires-list li .profile-photo img {
    width: auto; /* Allow the image to adjust its width */
    height: 100%; /* Ensure the image fills the container height */
    border-radius: 3px; /* Maintain circle shape */
  }
  