<header>
    <div class="navbar">

        <div class="logo">
            <a [routerLink]="['listeAssociations']"><img src="../../assets/images/logodonbyuib.png" alt=""></a>
        </div>
        <ul class="links">
            <li><a [routerLink]="['listeActualites']">Accueil</a></li>
            <li><a [routerLink]="['listeAssociations']">Associations</a></li>
            <li><a [routerLink]="['listeCollectes']">Collectes</a></li>
            <li><a href="">FAQ</a></li>
    
        </ul>


        <a [routerLink]="['Sinscrire']" class="action_btn" *ngIf="!service.connexion" >S'inscrire</a>


        <a [routerLink]="['inscrireAssociation']"  class="action_btn"  *ngIf="!service.connexion" >Inscrire mon association</a>
        <a [routerLink]="['login']" class="action_btn"  *ngIf="!service.connexion" >Se connecter</a>
 
        <a [routerLink]="['login/profilAssociation',service.id]" class="action_btn"  *ngIf="service.connexion" > 
             <span>{{ service.nomAssociation }}</span>
             <div class="connection-indicator"></div>
        </a>


        <div class="toggle_btn" (click)="toggleMenu()">
            <fa-icon [icon]="isMenuOpen ? faX : faB"></fa-icon>
        </div>

    </div>

    <div class="dropdown_menu" [class.open]="isMenuOpen">
        <ul>
            <li><a [routerLink]="['listeActualites']">Accueil</a></li>
            <li><a [routerLink]="['listeAssociations']">Associations</a></li>
            <li><a [routerLink]="['listeCollectes']">Collectes</a></li>
            <li><a href="">FAQ</a></li>
            <li><a [routerLink]="['Sinscrire']" class="action_btn"   *ngIf="!service.connexion"  >S'inscrire</a></li>
            <li><a [routerLink]="['inscrireAssociation']" class="action_btn"    *ngIf="!service.connexion"  >Inscrire mon association</a></li>
            <li><a [routerLink]="['login']" class="action_btn"   *ngIf="!service.connexion"  >Se connecter</a></li>
            <li><a [routerLink]="['login/profilAssociation',service.id]" class="action_btn"  *ngIf="service.connexion" > 
              {{ service.nomAssociation }}
              <div class="connection-indicator"></div>

           </a></li>

        </ul>
    </div>
</header>
