<div class="container">
    <!-- Barre de recherche -->
    <input type="text" id="searchInput" [(ngModel)]="searchTerm" (ngModelChange)="chercherCollecte()" placeholder="Rechercher..." class="search-input">

    <!-- Sélecteur d'association -->
        <label  id="etat-label" for="etat-select">Filtrer par association:</label>
        <select id="etat-select" [(ngModel)]="selectedAssociation" (change)="chercherCollecte()">
          <option value="" selected>Tous</option>
          <option *ngFor="let association of associationsNames" [value]="association">{{ association }}</option>
        </select>
        <!-- Sélecteur d'état -->
        <label  id="etat-label" for="etat-select">Filtrer par état:</label>
        <select id="etat-select" [(ngModel)]="selectedEtat" (change)="chercherCollecte()">
          <option value="" selected>Tous</option>
          <option *ngFor="let etat of etats" [value]="etat">{{ etat }}</option>
        </select>

        <!-- Champ de tri -->
      <label id="etat-label" for="tri-select">Trier par :</label>
      <select id="etat-label" [(ngModel)]="selectedTri" (change)="chercherCollecte()">
        <option value="none" selected>Aucun tri</option>
        <option value="montantAsc">Montant croissant</option>
        <option value="montantDesc">Montant décroissant</option>
        <option value="plusRecents">Les plus récents</option>
        <option value="plusAnciens">Les plus anciens</option>
        <option value="plusLonguesDurees">Les plus longues durées</option>
        <option value="plusCourtesDurees">Les plus courtes durées</option>
      </select>


  
    <!-- Tableau des collectes -->
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Image</th>
          <th>Nom</th>
          <th>Montant</th>
          <th>Date de début</th>
          <th>Date de fin</th>
          <th>Lancée par</th>
          <th>Etat</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let collecte of filteredCollecteList">
          <td>{{ collecte.id }}</td>
          <td><img [src]="collecte.image" alt="Logo" class="donateur-photo" (click)="afficherImage(collecte.image)"></td> <!-- Champ image avec la source de la photo -->
          <td>{{ collecte.nom }}</td>
          <td>{{ collecte.montant }}</td>
          <td>{{ collecte.date_debut }}</td>
          <td>{{ collecte.date_fin }}</td>
          <td>{{ getAssociationNameById(collecte.id_association) }}</td>
          <td>{{ collecte.etat }}</td>  
          <!-- Nouvelle colonne pour les actions -->
          <td>
            <div class="crud-buttons">
              <!-- Bouton Consulter -->
              <button class="action-button view-button"><fa-icon [icon]="faList" (click)="afficherDetails(collecte)"></fa-icon></button>
            <!-- Bouton Modifier -->
            <button class="action-button edit-button"><fa-icon [icon]="faPenToSquare" (click)="modifierCollecte(collecte)"></fa-icon></button>
             
              <!-- Bouton Supprimer -->
              <button class="action-button delete-button"> <fa-icon [icon]="faTrash"></fa-icon>
              </button>
               </div>
          </td>
        </tr>
      </tbody>
    </table>

    <app-details-collecte-admin *ngIf="adminService.collecteDetailShowModal" [collecte]="selectedCollecte"></app-details-collecte-admin>
    <app-modifier-collecte-admin *ngIf="adminService.collecteModifierShowModal" [collecte]="selectedCollecte"></app-modifier-collecte-admin>

    <div class="lightbox" *ngIf="imageAffichee" (click)="cacherImage()">
        <div class="lightbox-contenu">
          <img [src]="imageAffichee" alt="Photo agrandie">
        </div>
    </div>
  
    <div class="pages">
      <!-- Pagination -->
      <div class="pagination">
        <button class="prev-page" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1"><fa-icon [icon]="faChevronLeft"></fa-icon></button>
        <span class="page-info"> Page {{ currentPage }} sur {{ getTotalPages() }} </span>
        <button class="next-page" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === getTotalPages()"><fa-icon [icon]="faChevronRight"></fa-icon></button>
      </div>
  
      <!-- Choix du nombre d'utilisateurs par page -->
      <div class="page-size-selection">
        <label for="page-size-select">Nombre de collectes par page:</label>
        <select id="page-size-select" [(ngModel)]="selectedPageSize" (change)="onPageSizeChange()">
            <option value="10" selected>10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
      </div>
    </div>
  </div>