<div class="container">
    <form [formGroup]="aFormGroup" class="form-container">
      <h2>Modifier mon association</h2>
      <hr>

      <div>
        <label for="nom_association">Nom de l'association</label><br>
        <input type="text" id="nom_association" formControlName="nom" placeholder="Nom de l'association" class="nom_association" [disabled]="isModificationDemandPending" required>
        <div class="error-message" *ngIf="aFormGroup.get('nom')?.invalid && (aFormGroup.get('nom')?.dirty || aFormGroup.get('nom')?.touched)">
          <div *ngIf="aFormGroup.get('nom')?.errors?.['required']">Le nom de l'association est requis.</div>
        </div>
      </div>
      
      <div>
        <label for="description_association">Description de l'association</label><br>
        <textarea id="description_association" formControlName="description" placeholder="Description de l'association" class="description_association" required></textarea>
        <div class="error-message" *ngIf="aFormGroup.get('description')?.invalid && (aFormGroup.get('description')?.dirty || aFormGroup.get('description')?.touched)">
          <div *ngIf="aFormGroup.get('description')?.errors?.['required']">La description de l'association est requise.</div>
        </div>
      </div>

      <div>
        <label for="adresse_association">Adresse de l'association</label><br>
        <input type="text" id="adresse_association" formControlName="adresse" placeholder="Adresse de l'association" class="adresse_association" required>
        <div class="error-message" *ngIf="aFormGroup.get('adresse')?.invalid && (aFormGroup.get('adresse')?.dirty || aFormGroup.get('adresse')?.touched)">
          <div *ngIf="aFormGroup.get('adresse')?.errors?.['required']">L'adresse de l'association est requise.</div>
        </div>
      </div>
     
      <div>
        <label for="email_association">Adresse email de l'association</label>
        <input type="email" id="email_association" formControlName="email" placeholder="adresse@email.com" required>
        <div class="error-message" *ngIf="aFormGroup.get('email')?.invalid && (aFormGroup.get('email')?.dirty || aFormGroup.get('email')?.touched)">
          <div *ngIf="aFormGroup.get('email')?.errors?.['required']">L'adresse email de l'association est requise.</div>
          <div *ngIf="aFormGroup.get('email')?.errors?.['email']">L'adresse email n'est pas valide.</div>
        </div>
      </div>
      <div>
        <label for="num_association">Numéro téléphone de l'association</label>
        <input type="text" id="num_association" formControlName="telephone" placeholder="N° Téléphone" required>
        <div class="error-message" *ngIf="aFormGroup.get('telephone')?.invalid && (aFormGroup.get('telephone')?.dirty || aFormGroup.get('telephone')?.touched)">
          <div *ngIf="aFormGroup.get('telephone')?.errors?.['required']">Le numéro de téléphone est requis.</div>
          <div *ngIf="aFormGroup.get('telephone')?.errors?.['minlength'] || aFormGroup.get('telephone')?.errors?.['maxlength']">Le numéro de téléphone doit comporter exactement 8 chiffres.</div>
        </div>
      </div>

      <div>
        <label for="categorie_association">Catégorie de l'association<span> *</span></label><br>
      <select id="categorie_association" formControlName="categorie" required>
        <option value="" disabled selected>Sélectionner une catégorie</option>
        <option value="humanitaire">Humanitaire</option>
        <option value="environnement">Environnement</option>
        <option value="santé">Santé</option>
        <option value="éducation">Éducation</option>
        <option value="enfance">Enfance</option>
        <option value="animaux">Animaux</option>
        <option value="autres">Autres</option>
      </select>
      </div>
        
     
      <div>
        <label for="rib_association">Le relevé d'identité bancaire (RIB) de l'association</label>
        <input type="text" id="rib_association" formControlName="rib" placeholder="N° RIB" required>
        <div class="error-message" *ngIf="aFormGroup.get('rib')?.invalid && (aFormGroup.get('rib')?.dirty || aFormGroup.get('rib')?.touched)">
          <div *ngIf="aFormGroup.get('rib')?.errors?.['required']">Le RIB de l'association est requis.</div>
          <div *ngIf="aFormGroup.get('rib')?.errors?.['minlength'] || aFormGroup.get('rib')?.errors?.['maxlength']">Le RIB de l'association doit être composé exactement de 20 caractères.</div>
        </div>
      </div>
     
    
      
      <div *ngIf="showErrorNotification" class="error-notification">
        Certains champs sont invalides. Veuillez les corriger avant de soumettre le formulaire.
      </div>
      <div *ngIf="showSuccessMessage" class="success-message">
        Les modifications apportées sont attentes d'approbation. Une notification vous sera envoyée une fois que les modifications sont approuvées.       
      </div>
      <div *ngIf="isModificationDemandPending" class="disabled-notification">
        Les modifications apportées le <strong>{{ modificationDate }}</strong> sont en attente d'approbation. Une notification vous sera envoyée une fois que les modifications sont approuvées.       
      </div>
      
      <button type="submit" class="btn_modifier" (click)="onSubmit()">Modifier</button>
    </form>
  </div>
  