.container {
  margin-top: 70px;
  margin-left: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  margin: 15px;
  text-align: center; /* Centrage du titre */
  width: 100%; /* Pour assurer le centrage */
}

.search-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 15px;
  width: 50%;
}

.search-input:focus {
  border-color: #00000046; /* Change la couleur de la bordure lorsque la barre de recherche est sélectionnée */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Ajoute une légère ombre à la bordure */
  outline: none; /* Supprime l'outline par défaut */
}

#etat-select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20%;
  margin: 15px 15px 15px 0; /* Ajustez la marge droite pour aligner correctement avec les autres éléments */
  vertical-align: middle; /* Ajustez l'alignement vertical */
}

#etat-select:focus {
  border-color: #00000046;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  outline: none;
}

#etat-label {
  margin: 15px 15px 15px 0; /* Ajustez la marge droite pour aligner correctement avec les autres éléments */
  vertical-align: middle; /* Ajustez l'alignement vertical */
}

.add-button {
  padding: 10px;
  margin: 10px;
  font-weight: bolder;
  border-radius: 10px;
  background-color: rgb(154, 10, 10);
  border: none;
  cursor: pointer;

  color: white;
}

.add-button:hover {
  background-color: white;
  color: rgb(154, 10, 10);
}

.donateur-photo {
  width: 80px; /* Taille limitée de l'image */
  height: 80px;
  border-radius: 10%; /* Bordure arrondie pour l'image */
  object-fit: cover; /* Remplir l'espace en gardant les proportions */
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  color: rgb(149, 6, 6);
}

table th,
table td {
  border: 0.5px solid #00000030;
  padding: 2px 8px 2px 8px;
  text-align: center;
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action-button {
  padding: 4px;
  margin: 4px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.action-button:hover {
  background-color: rgba(180, 164, 164, 0.064);
  border-radius: 3px;
}

.action-button {
  font-size: 16px;
  color: #000;
}

.delete-button {
  color: #dc3545;
}

.edit-button {
  color: #ffc107;
}

.view-button {
  color: #007bff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0);
}

.modal-content {
  background-color: #fefefe00;
  margin: 15% auto;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
}

.modal-content input[type="text"],
.modal-content button {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-content button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button.cancel {
  background-color: #ccc;
  margin-right: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.crud-buttons {
  display: flex;
  justify-content: space-between;
}

.page-size-selection {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.page-size-selection label {
  margin-right: 10px;
}

.page-size-selection select {
  padding: 5px;
  border-radius: 4px;
}

.pages {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pagination {
  margin-top: 20px;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fond noir semi-transparent */
  z-index: 9999; /* Au-dessus de tout le contenu */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.lightbox-contenu {
  max-width: 80%; /* Taille maximale de l'image agrandie */
  max-height: 80%;
  overflow: auto; /* Scroll si l'image est trop grande */
}

.lightbox img {
  max-width: 100%; /* Ajuster la taille de l'image selon la fenêtre */
  max-height: 100%;
}

.table-container {
  position: relative; /* Pour que la table reste en dessous de la lightbox */
}
