<div class="container">
     <app-actualite-details-associations *ngIf="service.actualiteDetailShowModal" [actualite]="selectedActualite"></app-actualite-details-associations>
    <app-modifier-actualite *ngIf="service.actualiteModifierShowModal" [actualite]="selectedActualite"></app-modifier-actualite>
 
    <div class="search-container">
      <label for="searchInput">Chercher une actualité :</label>
      <input type="text" id="searchInput" [ngModel]="searchTerm" (ngModelChange)="chercherActualite($event)" placeholder="Entrer le nom de l'actualité">
  </div>
 
   <div *ngFor="let actualite of filteredActualiteList" >
   
 
     {{ actualite.titre }}
     <div>
       <i><fa-icon [icon]="faList" class="on-icon" (click)="afficherDetails(actualite)"></fa-icon></i> 
      <i><fa-icon [icon]="faPenToSquare" class="on-icon" (click)="modifierActualite(actualite)"></fa-icon></i> 
        <!-- <i><fa-icon [icon]="faTrash" class="on-icon" (click)="deleteTodo(todo)"></fa-icon></i>  -->
     </div>
   </div>
 </div>
 